.c3{

    color: #808081;
    
}
.c2{
    color: #6F42C1 !important;

}
.c1{
    color: #6F42C199;

}
.card-image-top{
    width: 239px;
height: 130px;
top: 32px;
left: 421px;
gap: 0px;


}
.m-0t{
    margin-left: -129px;
}
.card{
    width: 239px;
height: 300px;
top: 32px;
left: 421px;
gap: 0px;
opacity: 0px;
border: 0;
box-shadow: 2px 4px 12px -1px rgba(0,0,0,0.75);

}
.h4_a{

font-size: 16px;
font-weight: 700;
line-height: 20.08px;
text-align: left;

}
.h2_a{
   
font-size: 48.27px;
font-weight: 900;
line-height: 60.58px;
letter-spacing: 0.04em;
text-align: left;

}
.p-a{
   
font-size: 16px;
font-weight: 400;
line-height: 23px;
text-align: left;
color: #808081;
}
.btn-a{
    background: #6F42C1;
color: white;
width: Hug (175.5px)px;
height: Hug (44.8px)px;

padding: 12.9px 32.25px 12.9px 32.25px;
gap: 20px;
border-radius: 25.8px;
border: none;


}
.hero{
  
height: 520px;

border-radius: 0px 0px 300px 0px;
background: #F0ECF9;
padding-left: 40px;



}

.pa{
    padding-left: 20px;
}
.img-a{
    margin-top: 111px;
}
@font-face {
    font-family: Arvo;
    src: url(fonts/Arvo/Arvo-Regular.ttf);
}
@font-face {
    font-family: Mulish;
    src: url(fonts/Mulish/Mulish-VariableFont_wght.ttf);
}
.nav-links{
    font-family: Arvo;
font-size: 18px;
font-weight: 400;
line-height: 22.23px;
text-align: left;
color: #808081;

}
.h1-b{
    font-family: Mulish;
font-size: 30px;
font-weight: 900;
line-height: 37.65px;
text-align: left;
color: #6F42C1;


}
.text-ter{
    text-align: center;
}
.gap-50{
    gap: 15rem !important;
}
.h2-b{
    font-family: Mulish;
font-size: 35px;
font-weight: 900;
line-height: 23px;
text-align: left;

}
.p-b{
    font-family: Mulish;
font-size: 12px;
font-weight: 900;
line-height: 23px;
letter-spacing: 0.1em;
text-align: left;

}
.sec-b{
    padding: 40px;
}
.tex{
  margin-bottom: 106px;
  margin-top: 50px;
}
.p-c{
    font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 23px;
text-align: left;
color: #989898;

}
.covid{
    font-family: Arvo;
font-size: 25px;
font-weight: 400;
line-height: 43.22px;
text-align: left;

}
.ml-30{
    margin-left: 531px;
}
.mt-7{
    margin-top: 176px;
}
.me{
    margin: 40px 0;
}
.h2-c{
    font-family: Mulish;
font-size: 18px;
font-weight: 900;
line-height: 23px;
text-align: left;
color: #6F42C1;

}
.sec-c{
    padding: 40px 70px;
}
.gap-30{
    gap: 8rem;
}
.sec-d{
    padding: 40px;
    background: #F8F5FC;
    width: 1440px;
height: 800px;
top: 2132px;
gap: 0px;
opacity: 0px;


}  
.mt{
margin-top: -73px;
}
.mt-o{
    margin-top: -34px;
}
.btn-b
{
    width: Hug (276.5px)px;
height: Hug (41.8px)px;
top: 519px;
left: 736px;
padding: 12.9px 32.25px 12.9px 32.25px;
gap: 20px;
border-radius: 25.8px 
opacity: 0px;
background: #6F42C1;
color:white;

}
.bg{
    background: #E2D9F3;

}
.card{
    width: 239px;
height: 300px;
top: 119px;
left: 132px;
gap: 0px;
border-radius: 10px 0px 0px 0px;
opacity: 0px;

}
.list{
    list-style: none;
}
.mt-e{
    margin-top: 5rem;
}
.li{
    font-family: Mulish;
font-size: 17px;
font-weight: 400;
line-height: 42px;
text-align: left;
color: #989898;

}
.h4-d{
    font-family: Mulish;
font-size: 17px;
font-weight: 700;
line-height: 23px;
text-align: left;
margin-left: 33px;
}
.o1{
    width: 549px;
height: 444.32px;


}
.mt-99{
    margin-top: 99px;
}
.secd{
    margin: 173px 40px 40px 40px;
}
.gap-40{
    gap: 22.5rem;
}
.po{
    position: absolute;
    left: 557px;
    top: 351%;
}
.ca{
    width: 470px;
    height: 154px;
   box-shadow: 2px 4px 12px -1px rgba(0,0,0,0.75);
background: white;
margin-bottom: 10px;
padding: 45px;
}
.h4-e{
    font-family: Mulish;
font-size: 17px;
font-weight: 750;
line-height: 23px;
text-align: left;
color: #6F42C1;

}
.sec-e{
    background: #F8F5FC;
padding: 40px;
}
.c5{
    color: #A4A4A4 !important;
font-size: 16px !important;
}
.para{
    margin-top: 68px;
    margin-left: 44px;
}
.btn-ab{
    width: Hug (139.5px)px;
height: Hug (44.8px)px;
top: 716px;
left: 1049px;
padding: 12.9px 32.25px 12.9px 32.25px;
gap: 20px;
border-radius: 25.8px 0px 0px 0px;
opacity: 0px;
background: #6F42C1;
color: white;
margin-top: -9px;
margin-left: 234px;
}
.ig{
    width: 373px;
height: 248.57px;
top: 2px;
gap: 0px;
opacity: 0px;

}
.p2{
    
font-family: Mulish;
font-size: 17px;
font-weight: 400;
line-height: 23px;
text-align: left;
background: #6F42C1;
width: 146px;
height: 32px;
gap: 0px;
opacity: 0px;

color:white;
position: relative;
left: 115px;
bottom: 19px;
}
.p-ab{
    font-family: Mulish;
font-size: 13px;
font-weight: 440;
line-height: 23px;
text-align: left;
color: #989898;

}
.h4-l{
    font-family: Mulish;
font-size: 17px;
font-weight: 600;
line-height: 23px;
text-align: center;
color: #6F42C1;
margin-left: 61px;

}

.pos{
    position: relative;
    bottom:66px;
}
.pos2{
    position: relative;
bottom: 66px;
left: 517px;
}

.gap6{
    gap: 6.5rem;
}

.car1{
    margin: 20px;
}
.mrb{
    margin: 3px 0 3px 79px;
}
.icon1{
    width: 20px;
height: 20px;
top: -1px;
gap: 0px;
opacity: 0px;

}
.ul{
    padding-left: 0 !important;
}
.bg1{
    background: #F8F5FC;
   
}
.about{
    font-family: Mulish;
font-size: 17px;
font-weight: 700;
line-height: 23px;
text-align: left;
color: black;

}
.p-foot{
    font-family: Mulish;
font-size: 15px;
font-weight: 400;
line-height: 23px;
text-align: left;
color: #989898;
}

/* Media Queries */
@media screen and (min-width:200px) and (max-width:480px){
   .hidden{
    overflow: hidden;
   }
   .hero{
    width: 396%;
    height: 100%;
   }
   .p-a{
    font-size: 24px;
    line-height: 32px;
   }
   .h2_a{
font-size: 66.27px;
line-height: 94.58px;
   }
   .h4_a{
    font-size: 28px;
    line-height: 49px;
   }
   .covid{
    font-size: 35px;
   }
   .jcs{
    justify-content: space-around !important;
   }
   .navbar-toggler{
    font-size: 35px;
   }
   .navbar{
    padding: 30px 0;
   }
   .w{
    width: 389%;
   }
   .h1-b{
    font-size: 34px;

   }
   .h2-b{
    font-size: 39px;
   }
   .p-b{
    font-size: 15px;
   }
   .wa{
    width: 208%;
    flex-direction: column;
   }
  
   .rev{
    flex-direction: column-reverse !important;
   }
    .main{
        display: flex;
flex-direction: column;
    }
    .sec-c{
        width: 397%;
    }
    .sec-d{
       padding-bottom: 137px;
       height: 100%;
    }
    .p-c{
        font-size:22px;
    }
    .li{
        font-size: 20px;
    }
    .secd{
        width: 396%;
    }
    .sec-e{
        width: 396%;
    }
    .btn-ab{
        margin-left: 28px;
    }
    .sec-f{
        width: 396%;
    }
    .p-ab{
        font-size: 16px;
    }
    .icon1{
        width: 22px;
        height: 22px;
    }
    footer{
        margin: 48px 32px !important;
    }
    .wic{
        width: 30px;
    }
    .about{
        font-size:22px;
            
    
    }
    .bg1{
        width: 396%;
    }
    .nav-item{
        font-size:19px;
    }
}
