.c3{

    color: #808081;
    
}
.c2{
    color: #6F42C1 !important;

}
.c1{
    color: #6F42C199;

}
.card-image-top{
    width: 239px;
height: 130px;
top: 32px;
left: 421px;
gap: 0px;


}
.m-0t{
    margin-left: -129px;
}
.card{
    width: 239px;
height: 300px;
top: 32px;
left: 421px;
gap: 0px;
opacity: 0px;
border: 0;
box-shadow: 2px 4px 12px -1px rgba(0,0,0,0.75);

}
.h4_a{

font-size: 16px;
font-weight: 700;
line-height: 20.08px;
text-align: left;

}
.h2_a{
   
font-size: 48.27px;
font-weight: 900;
line-height: 60.58px;
letter-spacing: 0.04em;
text-align: left;

}
.p-a{
   
font-size: 16px;
font-weight: 400;
line-height: 23px;
text-align: left;
color: #808081;
}
.btn-a{
    background: #6F42C1;
color: white;
width: Hug (175.5px)px;
height: Hug (44.8px)px;

padding: 12.9px 32.25px 12.9px 32.25px;
gap: 20px;
border-radius: 25.8px;
border: none;


}
.hero{
  
height: 520px;

border-radius: 0px 0px 300px 0px;
background: #F0ECF9;
padding-left: 40px;



}

.pa{
    padding-left: 20px;
}
.img-a{
    margin-top: 111px;
}
@font-face {
    font-family: Arvo;
    src: url(fonts/Arvo/Arvo-Regular.ttf);
}
@font-face {
    font-family: Mulish;
    src: url(fonts/Mulish/Mulish-VariableFont_wght.ttf);
}
.nav-links{
    font-family: Arvo;
font-size: 18px;
font-weight: 400;
line-height: 22.23px;
text-align: left;
color: #808081;

}
.h1-b{
    font-family: Mulish;
font-size: 30px;
font-weight: 900;
line-height: 37.65px;
text-align: left;
color: #6F42C1;


}
.text-ter{
    text-align: center;
}
.gap-50{
    gap: 15rem !important;
}
.h2-b{
    font-family: Mulish;
font-size: 35px;
font-weight: 900;
line-height: 23px;
text-align: left;

}
.p-b{
    font-family: Mulish;
font-size: 12px;
font-weight: 900;
line-height: 23px;
letter-spacing: 0.1em;
text-align: left;

}
.sec-b{
    padding: 40px;
}
.tex{
  margin-bottom: 106px;
  margin-top: 50px;
}
.p-c{
    font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 23px;
text-align: left;
color: #989898;

}
.covid{
    font-family: Arvo;
font-size: 25px;
font-weight: 400;
line-height: 43.22px;
text-align: left;

}
.ml-30{
    margin-left: 531px;
}
.mt-7{
    margin-top: 176px;
}
.me{
    margin: 40px 0;
}
.h2-c{
    font-family: Mulish;
font-size: 18px;
font-weight: 900;
line-height: 23px;
text-align: left;
color: #6F42C1;

}
.sec-c{
    padding: 40px 70px;
}
.gap-30{
    gap: 8rem;
}
.sec-d{
    padding: 40px;
    background: #F8F5FC;
    width: 1440px;
height: 883px;
top: 2132px;
gap: 0px;
opacity: 0px;


}  
.mt{
margin-top: -73px;
}
.mt-o{
    margin-top: -34px;
}
.btn-b
{
    /* width:  276.5px;
height: 41.8px; */
top: 519px;
left: 736px;
padding: 12.9px 32.25px 12.9px 32.25px;
gap: 20px;
border-radius: 25.8px 
opacity: 0px;
background: #6F42C1;
color:white;

}
.bg{
    background: #E2D9F3;

}
.card{
    width: 239px;
height: 300px;
top: 119px;
left: 132px;
gap: 0px;
border-radius: 10px 0px 0px 0px;
opacity: 0px;

}
.list{
    list-style: none;
}
.mt-e{
    margin-top: 5rem;
}
.li{
    font-family: Mulish;
font-size: 17px;
font-weight: 400;
line-height: 42px;
text-align: left;
color: #989898;

}
.h4-d{
    font-family: Mulish;
font-size: 17px;
font-weight: 700;
line-height: 23px;
text-align: left;
margin-left: 33px;
}
.o1{
    width: 549px;
height: 444.32px;


}
.mt-99{
    margin-top: 99px;
}
.secd{
    margin: 173px 40px 40px 40px;
}
.gap-40{
    gap: 22.5rem;
}
.po{
    position: absolute;
    left: 557px;
    top: 351%;
}
.mr{
    margin-bottom: 0 !important;

}
.ca{
    width: 470px;
    height: 154px;
   box-shadow: 2px 4px 12px -1px rgba(0,0,0,0.75);
background: white;
margin-bottom: 10px;
padding: 45px;
}
.h4-e{
    font-family: Mulish;
font-size: 17px;
font-weight: 750;
line-height: 23px;
text-align: left;
color: #6F42C1;

}
.sec-e{
    background: #F8F5FC;
padding: 40px;
}
.c5{
    color: #A4A4A4 !important;
font-size: 16px !important;
}
.para{
    margin-top: 68px;
    margin-left: 44px;
}
.btn-ab{
    width:  139.5px;
height:  44.8px;
top: 716px;
left: 1049px;
padding: 12.9px 32.25px 12.9px 32.25px;
gap: 20px;
border-radius: 25.8px 0px 0px 0px;
opacity: 0px;
background: #6F42C1;
color: white;
margin-top: -9px;
margin-left: 234px;
}
.ig{
    width: 373px;
height: 248.57px;
top: 2px;
gap: 0px;
opacity: 0px;

}
.p2{
    
font-family: Mulish;
font-size: 17px;
font-weight: 400;
line-height: 23px;
text-align: left;
background: #6F42C1;
width: 146px;
height: 32px;
gap: 0px;
opacity: 0px;

color:white;
position: relative;
left: 115px;
bottom: 19px;
}
.p-ab{
    font-family: Mulish;
font-size: 13px;
font-weight: 440;
line-height: 23px;
text-align: left;
color: #989898;

}
.h4-l{
    font-family: Mulish;
font-size: 17px;
font-weight: 600;
line-height: 23px;
text-align: center;
color: #6F42C1;
margin-left: 61px;

}

.pos{
    position: relative;
    bottom:66px;
}
.pos2{
    position: relative;
bottom: 66px;
left: 517px;
}

.gap6{
    gap: 6.5rem;
}

.car1{
    margin: 20px;
}
.mrb{
    margin: 3px 0 3px 79px;
}
.icon1{
    width: 20px;
height: 20px;
top: -1px;
gap: 0px;
opacity: 0px;

}
.ul{
    padding-left: 0 !important;
}
.bg1{
    background: #F8F5FC;
    padding: 0 12px 0 40px;
   
}
.about{
    font-family: Mulish;
font-size: 17px;
font-weight: 700;
line-height: 23px;
text-align: left;
color: black;

}
.p-foot{
    font-family: Mulish;
font-size: 15px;
font-weight: 400;
line-height: 23px;
text-align: left;
color: #989898;
}
/* *{
    border: 3px solid red;
} */

/* Media Queries */
@media screen and (min-width: 200px) and (max-width: 480px) {
 .fc{
    flex-direction: column !important;
 
   }
   .fce{
    flex-direction: column-reverse !important;
   }
   .sec-d{
    width: 137%;
    height: 800%;
   }
   .hero{
    width: 41rem;
    height: 63rem;
    border-radius: 0;
   }
   .hidden{
    overflow: hidden !important;
   }
   .h4_a{
margin-top: 2rem;
text-align: center !important;
font-size: 20px;
   }
   .h2_a{
    text-align: center;
    font-size:52px;

   }
   .w{
    width: 249% ;
   }
   .p-a{
    text-align: center;
    margin-top: 20px;
    font-size: 19px;
   }
   .btn-a{
    font-size:21px;
    text-align: center;
    margin-top: 12px;
   }
   .navbar-toggler{
    font-size: 22px;
   border: 4px solid #A4A4A4;
   }
   .navbar-collapse{
    margin-left: 13rem !important;
   
   }
   .nav-link-n{
    font-size: 23px;
    font-weight: 600;
   }
   .center{
    display: flex;
    justify-content: center;
    align-items: center;
   }
 .mrb{
    margin-left: 0 !important;
 }
 .ml{
    margin-left: 170px;
 }
   .h1-b{
    font-size: 46px;
   }
   .gap-50{
    gap: 2rem !important;
   }
   .cov{
    display: flex;
    align-items: center;
    flex-direction: column;
   }
   .h2-b{
    line-height: 49px;
    font-size: 40px;
   }
   .p-b{
    font-size: 14px;
   }
   .gap-30{
    gap: 2rem;
   }
   .wk{
    width: 57px;
   }
   .h2-c{
    font-size:28px;
   }
   .p-c{
    font-size:19px;
   }
  .gap-40{
    gap: 2rem !important;
  }
  .h1-n{
    font-size: 41px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 44px;
  }
  .p-n{
    line-height: 28px;
    font-size: 20px;
    text-align: center;
  }
  .li{
    font-size: 21px;
  }
  .btn-b{
    margin-top: 21px;
    font-size: 23px;
   
  }
 
 .wce{
    width: 100%;
}
 .h4-d{
    font-size: 26px;
 }
 .mt-e{
    margin-top: 0;
 }
 .mt{
    margin-top: 11px;
 }
 .mt-o{
    margin-top: 20px;
 }
 .g-4{
    gap: 4rem;
 }
 .btn-ab{
    margin-left: 0;
    width: 215px;
    height: 60px;
    margin-top: 24px;
 }
 .tal{
    text-align: left;
    margin-left: -39px;
 }
 .about{
    font-size: 31px;
 }
 .secd{
    margin-left: 2px !important;
 }
 .p-foot{
    font-size:22px;
    line-height: 26px;
 }
 .nav-link-s{
    font-size: 19px;
 }
 h5{
    font-size: 24px;
 }
 .lhr-5{
    line-height: 2rem;
 }
 .wic{
    width: 30px;
 }
}
